.side-bar {
	left: 0px;
    top: 39px;
    width: 212px;
	bottom: 0px;
	background: #fbfbfb;
	border-right: 1px solid #dadce0;
    overflow: hidden;
    position: absolute;
	overflow: auto;
	padding: 15px;
}