body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
	/*background-color: rgba(0,0,0,.1);*/
	width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.1);
	background-clip: padding-box;
	border: solid transparent;
	border-radius: 50px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,.4);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(0,0,0,.6);
}